<footer class="footer layout-container">
  <div class="footer-left">
    <span>© {{ currentYear }} | ruthvik-ch </span>
    <a href="/privacy" class="privacy-link">privacy?</a>
  </div>

  <div class="footer-right social-icons">
    <!-- <a href="https://linkedin.com/in/yourprofile" target="_blank" aria-label="LinkedIn">
      <img src="assets/file.gif" alt="LinkedIn" class="gif-icon" />
    </a>
    <a href="https://github.com/yourprofile" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="mailto:you@example.com" aria-label="Email">
      <i class="fa-solid fa-envelope"></i>
    </a> -->

    <div class="social-icons">
      <a
        href="https://linkedin.com/in/yourprofile"
        target="_blank"
        aria-label="LinkedIn"
      >
        <img
          src="https://image.tmdb.org/t/p/original/zosokLDmvdl5KQ400JG426ur0Sg.png"
          alt="LinkedIn"
          class="gif-icon"
        />
      </a>
      <a
        href="https://github.com/yourusername"
        target="_blank"
        aria-label="GitHub"
      >
        <img
          src="https://image.tmdb.org/t/p/original/zosokLDmvdl5KQ400JG426ur0Sg.png"
          alt="LinkedIn"
          class="gif-icon"
        />
      </a>
      <a href="mailto:youremail@example.com" aria-label="Email">
        <img
          src="https://image.tmdb.org/t/p/original/zosokLDmvdl5KQ400JG426ur0Sg.png"
          alt="LinkedIn"
          class="gif-icon"
        />
      </a>
    </div>
  </div>
</footer>
