<footer class="footer layout-container">
  <div class="footer-left">
    <span>© {{ currentYear }} | ruthvik-ch </span>
    <a href="/privacy" class="privacy-link">privacy?</a>
  </div>

  <div class="footer-right social-icons">
    <!-- <a href="https://linkedin.com/in/yourprofile" target="_blank" aria-label="LinkedIn">
      <img src="assets/file.gif" alt="LinkedIn" class="gif-icon" />
    </a>
    <a href="https://github.com/yourprofile" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="mailto:you@example.com" aria-label="Email">
      <i class="fa-solid fa-envelope"></i>
    </a> -->
    <div class="social-icons">
      <a
        *ngIf="links?.linkedin" [href]="links.linkedin"
        target="_blank"
        aria-label="LinkedIn"
      >
        <img
          src="https://lh3.googleusercontent.com/a/ACg8ocKeg8d1pl_Ho7Qr-MXw24E3RZRaPO8cloAq4FJ05yRr-EVFQek=s192-c-rg-br100"
          alt="LinkedIn"
          class="gif-icon"
        />
      </a>
      <a
        *ngIf="links?.github" [href]="links.github" 
        target="_blank"
        aria-label="GitHub"
      >
        <img
          src="https://lh3.googleusercontent.com/a/ACg8ocKeg8d1pl_Ho7Qr-MXw24E3RZRaPO8cloAq4FJ05yRr-EVFQek=s192-c-rg-br100"
          alt="LinkedIn"
          class="gif-icon"
        />
      </a>
      <a *ngIf="contact?.email" [href]="'mailto:' + contact.email" aria-label="Email">
        <img
          src="https://lh3.googleusercontent.com/a/ACg8ocKeg8d1pl_Ho7Qr-MXw24E3RZRaPO8cloAq4FJ05yRr-EVFQek=s192-c-rg-br100"
          alt="LinkedIn"
          class="gif-icon"
        />
      </a>
    </div>
  </div>
</footer>
