<div class="home-comp layout-container">
  <section class="hero">
    <div class="hero-text">
      <h1>
        hi ruthvik here. <span class="wave">👋</span>
      </h1>
      <p>
        <span class="age-container" (mouseenter)="onHoverStart()" (mouseleave)="onHoverEnd()">
          <span class="age-text">{{ age }}yo</span>
          <span class="tooltip" *ngIf="isHovering">{{ fullAge }}</span>
        </span>
        software engineer from India 🇮🇳
      </p>
      <p class="subheading">
        Fullstack Engineer building minimal, responsive and elegant web
        experiences.
      </p>
      <button>Explore More</button>
    </div>
    <div class="hero-image">
      <img
        src="https://source.unsplash.com/random/400x400?person"
        alt="Random person image"
      />
    </div>
  </section>

  <section class="colored-section">
    <h2>Some Gradient Background</h2>
    <p>
      This section has a nice background gradient to highlight contrast with the
      navbar.
    </p>
  </section>

  <section class="image-grid">
    <img src="https://source.unsplash.com/random/300x200?code" />
    <img src="https://source.unsplash.com/random/300x200?technology" />
    <img src="https://source.unsplash.com/random/300x200?design" />
  </section>
</div>
