/* Global Styles - styles.scss */
// color palette - https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
:root {
  /* Color Palette */
  /* Base (Light Theme) */
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-500: #ADB5BD;
  --gray-600: #6C757D;
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #020712;

  // Typography
  --font-body: 'Rubik', sans-serif;
  --font-heading: 'Pacifico', sans-serif;

  // Layout
  --section-padding: 25vw;
  --section-padding-mobile: 5vw;

  // For consistent border radius
  --rad-min: 6px;
  --rad-mid: 10px;
  --rad-max: 20px;

  // light theme 
  --bg-color: var(--gray-100);
  --surface-color: var(--gray-200);
  --text-color: var(--gray-900);
  --text-active-color: var(--gray-600);
  --text-muted-color: var(--gray-600);
  --border-color: var(--gray-300);
  --bg-color-translucent: rgba(248, 249, 250, 0.8); // Light = #F8F9FA @ 80%

}
// dark theme
[data-theme='dark'] {
  --bg-color: var(--gray-900);
  --surface-color: var(--gray-800);
  --text-color: var(--gray-300);
  --text-active-color: var(--gray-100);
  --text-muted-color: var(--gray-500);
  --border-color: var(--gray-700);
  --bg-color-translucent: rgba(2, 7, 18, 0.8); // Dark = #020712 @ 80%

}

/* 2. Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Responsive Layout Padding */
.layout-container {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);

  @media (max-width: 1024px) {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  @media (max-width: 640px) {
    padding-left: var(--section-padding-mobile);
    padding-right: var(--section-padding-mobile);
  }
}

/* 4. Heading font (replace later) */
h1, h2 {
  font-family: var(--font-heading);
  letter-spacing: 0.8px;
}